.header {
  background-color: var(--color-bg);
  border-bottom: var(--border);
  inset: 0 0 auto 0;
  padding: 20px 0;
  position: fixed;
  z-index: 999;
}

.inner {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
