.header {
  position: fixed;
  inset: 0 0 auto 0;
  padding: 20px 0;
  border-bottom: var(--border);
  background-color: var(--color-bg);
  z-index: 999;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
