.wrapper {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  padding-block: var(--section-padding-top) var(--section-padding-bottom);
}

.heading {
  position: relative;
  inline-size: 32%;
  padding: 0 0 15px 15px;
  font-family: var(--font-montserrat), system-ui, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-block-end: var(--border);
}

.heading::before {
  position: absolute;
  top: 33%;
  left: 0;
  width: 5px;
  height: 5px;
  content: "";
  background-color: var(--color-accent);
  border-radius: 50%;
  transform: translateY(-50%);
}

.title {
  margin-block-end: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5em;
  color: var(--color-heading);
  text-transform: uppercase;
  word-spacing: 4px;
  letter-spacing: 1px;
}

.accent {
  color: var(--color-accent);
}

.text {
  margin-block-end: 20px;
}

@media screen and (width <= 760px) {
  .wrapper {
    flex-direction: column;
  }

  .heading {
    inline-size: 100%;
  }
}
