.fancy {
  position: relative;
  text-decoration: none;
  display: inline-block; 
  letter-spacing: 2px;
  font-weight: 500;  
}

.fancy::after {
  --scale: 0;
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: 1px;
  border-radius: 5px;
  background-color: currentColor;
  transition: transform 300ms cubic-bezier(0.51, 0.92, 0.24, 1);
  transform: scaleX(var(--scale));
  transform-origin: var(--x) 50%;
}

.fancy:hover::after {
  --scale: 1;
}
