.progressWrap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  visibility: hidden;
  border-radius: 50px;
  box-shadow: inset 0 0 0 1px rgba(197, 164, 126, 0.2);
  background-color: var(--white);
  transition: transform 400ms linear;
  transform: translateY(20px);
  pointer-events: none;
  block-size: 45px;
  inline-size: 45px;
}

.active {
  visibility: visible;
  transform: translateY(0);
  pointer-events: all;
}
