.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.inner {
  position: absolute;
  inset: 0;
  max-width: 1140px;
  margin: 0 auto;
  border-right: var(--border);
  border-bottom: var(--border);
  border-left: var(--border);
}

.lines {
  position: absolute;
  top: 0;
  right: 33.3333%;
  bottom: 0;
  left: 33.3333%;
  border-right: var(--border);
  border-left: var(--border);
}
