.overlay {
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
}

.inner {
  border-bottom: var(--border);
  border-left: var(--border);
  border-right: var(--border);
  bottom: 0;
  left: 50%;
  position: absolute;
  top: 0;  
  transform: translateX(-50%);
  width: 1140px;
}

.lines {
  border-left: var(--border);
  border-right: var(--border);
  bottom: 0;
  left: 33.3333%;
  position: absolute;
  right: 33.3333%;
  top: 0;
}