.overlay {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1140px;
  border-right: var(--border);
  border-bottom: var(--border);
  border-left: var(--border);  
  transform: translateX(-50%);
}

.lines {
  position: absolute;
  top: 0;
  right: 33.3333%;
  bottom: 0;
  left: 33.3333%;
  border-right: var(--border);
  border-left: var(--border);
}