.social {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  inline-size: 44px;
  block-size: 44px;
  margin-inline-end: 5px;
  border: var(--border);
  border-radius: 100%;
  transition: border-color 0.4s;
}

.social:hover {
  border-color: var(--color-accent);
}

.social:focus-visible {
  outline: none;
  border-color: var(--color-accent);
}
