.wrapper {
  align-items: center;
  display: grid;
  gap: 30px;
  grid-template-columns: 50% 1fr;
  padding-block-start: var(--section-padding-top);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imageWrapper {
  aspect-ratio: 4 / 5;
  overflow: hidden;
  position: relative;
}

.image {
  object-fit: cover;
}

.title {
  color: var(--color-heading);
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5em;
  text-transform: uppercase;
  word-spacing: 4px;
}

.heading {
  color: var(--color-accent);
  font-family: var(--font-montserrat), system-ui, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-inline-start: 5px;
  padding-inline-start: 15px;
  position: relative;
  text-transform: uppercase;
}

.heading::before {
  background-color: var(--color-accent);
  border-radius: 50%;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
}

.list {
  margin-block-end: 2rem;
}

.list li {
  align-items: baseline;
  display: flex;
  gap: 10px;
}

.list li::before {
  color: var(--color-accent);
  content: "✓";
  flex-shrink: 0;
}

@media screen and (max-width: 960px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .imageWrapper {
    aspect-ratio: 16 / 14;
    order: -1;
  }

  .image {
    object-position: 50% 20%;
  }
}
