.menu {
  background-color: var(--color-bg);
  border-left: 1px solid rgba(255, 255, 255, 0.075);
  bottom: 0;
  inline-size: 340px;
  padding: 0 40px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: calc(var(--header-height));
  transform: translateX(100%);
  transition:
    transform 0.3s ease,
    visibility 0s linear 0.3s;
  visibility: hidden;
  z-index: 900;
}

.open {
  pointer-events: auto;
  transform: translateX(0%);
  transition:
    transform 0.3s ease,
    visibility 0s linear 0s;
  visibility: visible;
}

.list {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-start: 60px;
  position: relative;
}

.list > li:first-child {
  font-family: var(--font-raleway);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.overlay {
  inset: 0;
  position: fixed;
  z-index: 800;
}
