.menu {
  position: fixed;
  right: 0;
  z-index: 900;
  border-left: 1px solid rgba(255, 255, 255, 0.075);
  padding: 0 40px;
  background-color: var(--color-bg);
  transition: transform 0.3s ease;
  transform: translateX(100%);
  block-size: 100dvh;
  inline-size: 340px;
}

.open {
  transform: translateX(0%);
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-block-start: calc(var(--header-height) + 60px);
}

.list > li:first-child {
  text-transform: uppercase;
}
