.footer {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.footer .title {
  font-size: 24px;
}

.container {
  --section-padding-top: 90px;
  --section-padding-bottom: 0;
}

.bottom {
  border-block-start: var(--border);
  padding: 30px 0 30px 0;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.disclaimer {
  font-size: 10px;
  line-height: 1.55;
  margin-block-start: 20px;
  color: lightgrey;
}

.mail {
  display: inline-block;
  padding-block: 8px;
  text-decoration-color: var(--color-accent);
  text-underline-offset: 7px;
  transition: color 0.3s;
  margin-block-end: 24px;
}

@media (hover: hover) and (pointer: fine) {
  .mail:hover {
    color: var(--color-accent);
  }
}

.mail:active {
  color: var(--color-accent);
}
