.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 44px;
  block-size: 44px;
}

.icon {
  overflow: visible;
}

.lineTop,
.lineMiddle,
.lineBottom {
  stroke: var(--color-burger);
  transition: transform 0.3s ease;
  stroke-width: 1;
  transform-box: fill-box;
}

.lineTop,
.lineBottom {
  transform-origin: center;
}

.lineMiddle {
  transform: scaleX(0.66);
  transform-origin: right;
}

@media (hover: hover) and (pointer: fine) {
  .burger:hover .lineMiddle {
    transform: scaleX(1);
  }
}

.burger:active .lineMiddle {
  transform: scaleX(1);
}

.open .lineTop {
  transform: translateY(7px) rotate(45deg);
}

.open .lineMiddle {
  opacity: 0;
}

.open .lineBottom {
  transform: translateY(-7px) rotate(-45deg);
}