.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 6px;
  inline-size: 40px;
  block-size: 40px;
}

.burger:hover span:nth-child(2) {
  transform: scaleX(1);
}

.burger span {
  background-color: var(--color-burger);
  transition: transform 0.3s ease;
  block-size: 1px;
  inline-size: 30px;
}

.burger span:nth-child(2) {
  transform: scaleX(0.66);
  transform-origin: right;
}

.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.open span:nth-child(2) {
  opacity: 0;
}

.open span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
