@import "./reset.css";
@import "./variables.css";

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-montserrat), system-ui, sans-serif;
  font-size: var(--font-size-regular);
  line-height: var(--line-height-regular);
  background: var(--color-bg);
  padding-top: var(--header-height);
}

main {
  flex: 1;
  /* margin-block-start: var(--header-height); */
}

h1,
h2,
h3,
h4 {
  color: var(--color-heading);
  font-family: var(--font-oswald), system-ui, sans-serif;
}

a,
button {
  cursor: pointer;
}

a:hover {
  color: var(--color-accent);
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
